<div class="container">
    <div class="row">
        <div class="col">
            @Html.Sitecore().Placeholder("customlayout_container")
        </div>
        <div class="col">
            @Html.Sitecore().Placeholder("customlayout2_container")
        </div>
    </div>
</div>
