@model Example.Web.Features.Jumbotron.JumbotronViewModel

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">@Model.Title</h1>
        <p class="col-md-8 fs-4">@Model.Description</p>
        <a href="@Model.Url" class="btn btn-primary btn-lg" type="button">Example button</a>
    </div>
</div>
