<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<getPlaceholderRenderings>
				<!--
				Experience Editor shows duplicated rendering options
				-->
				<processor type="Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel" >
					<patch:delete />
				</processor>
			</getPlaceholderRenderings>
		</pipelines>
	</sitecore>
</configuration>
