<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<settings>
			<!-- CONTENT TESTING - AUTOMATIC CONTENT TESTING - ENABLED
           Determines whether automatic content testing features should be enabled.
           Default value: true
		   -->
			<setting name="ContentTesting.AutomaticContentTesting.Enabled">
				<patch:attribute name="value">false</patch:attribute>
			</setting>
			<setting name="WebEdit.ShowNumberOfLockedItemsOnButton">
				<patch:attribute name="value">false</patch:attribute>
			</setting>
		</settings>
	</sitecore>
</configuration>
