<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<sites>
			<!--
        Configure the site definition for our Getting Started site.
      -->
			<site name="ExampleWebSite"
				  inherits="website"
				  hostName="xp0cm.localhost"
				  rootPath="/sitecore/content/Example"
				  startItem="/home"
				  database="web"
				  patch:before="site[@name='website']" />
		</sites>
	</sitecore>
</configuration>
